<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ CODENVY CONFIDENTIAL
  ~ __________________
  ~
  ~ [2012] - [2013] Codenvy, S.A.
  ~ All Rights Reserved.
  ~
  ~ NOTICE:  All information contained herein is, and remains
  ~ the property of Codenvy S.A. and its suppliers,
  ~ if any.  The intellectual and technical concepts contained
  ~ herein are proprietary to Codenvy S.A.
  ~ and its suppliers and may be covered by U.S. and Foreign Patents,
  ~ patents in process, and are protected by trade secret or copyright law.
  ~ Dissemination of this information or reproduction of this material
  ~ is strictly forbidden unless prior written permission is obtained
  ~ from Codenvy S.A..
  -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <display-name>Codenvy API</display-name>
    <context-param>
        <param-name>org.everrest.asynchronous</param-name>
        <param-value>0</param-value>
    </context-param>
    <listener>
        <listener-class>com.codenvy.inject.CodenvyBootstrap</listener-class>
    </listener>
    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <security-role>
        <description>the user role</description>
        <role-name>developer</role-name>
    </security-role>
</web-app>